{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="list_my_work">
    {% if latest_work%}
        <ul >
        {% for work in latest_work %}
        {% comment %} <form   method="get" novalida  action="user_show/"  > {% endcomment %}
        <section class="container">
            <div class="col-md-4 btn btn-primary">

            {% comment %} <input claas="btn btn-primary" type="submit" name="send_form" value="{{ work.discribe }}" > {% endcomment %}

            {% comment %} <a href="{% url 'detail' %}"> {{ work.discribe }}</a> {% endcomment %}


            <h2><a href="{{ work.get_absolute_url }}"> {{ work.discribe}}</a></h2>

            
            {% comment %} <button type="submit" name="send_form" >    {{ work.discribe }}   </button> {% endcomment %}
            </div>
        


            {% comment %} <label class="container"> Doit
            <input type="checkbox" name="checkbox" value="doit">
            </label>
            <label class="container"> Edit
            <input type="checkbox" name="checkbox" value="edit">
            </label>
            <label class="container"> Delete
            <input type="checkbox" name="checkbox" value="edit">
            </label>
            <label class="container"> Nothing
            <input type="checkbox" name="checkbox" checked="checked" value="nothing">
            </label> {% endcomment %}

        </section>

        {% endfor %}
        </form>
        </ul>
        {% else %}
        <p>No work are available.</p>
    {% endif %}
    </div>
    <label name="list_works">
        <label name="list_works">
        <button type="submit" class="btn btn-primary" name="works_doit" onclick="myFunction()">works_doit</button>
        <label>
        <label name="list_works">
        <button type="submit" class="btn btn-primary" name="works_notcomplet">works_notcomplet</button>
        <label>
        <label name="list_works">
        <button type="submit" class="btn btn-primary" name="works_new">works_new</button>
        <label>
    </lable>

<script>
function myFunction() {

    var x = document.getElementById('list_my_work');
    if (x.style.visibility === 'hidden') {
        x.style.visibility = 'visible';
    } else {
        x.style.visibility = 'hidden';
    }

}
</script>
{% endblock %}