{% extends 'base.html' %}

{% load staticfiles %} {% load bootstrap4 %}
<link rel="stylesheet" href="{% static 'todo_app/bootstrap/css/bootstrap.min.css' %}" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'todo_app/bootstrap/css/my_create.css' %}" crossorigin="anonymous">
<script src="{% static 'todo_app/bootstrap/js/bootstrap.min.js' %}" crossorigin="anonymous"></script>


{% block content %}

<div class="page-header">
    <h3> کار های من</h3>
</div>

<div class="col-md-6">
        <table class="table table-hover">
                <thead>
                    <tr>
                        <th>عنوان</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for mywork in object_list %}
                    <tr>
                        <td><a href="{% url 'todo_app:work_view' mywork.id %}">{{mywork.discribe}}</a></td>
                        <td><a href="{% url 'todo_app:work_edit' mywork.id %}">ویرایش</a></td>
                        <td><a href="{% url 'todo_app:work_delete' mywork.id %}">حذف</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
        </table>
    </div>

<a href="{% url 'todo_app:work_new' %} "class=" btn btn-info " role="link"> کار جدید</a>
 {% include 'pagination.html' with page=page_obj %}
{% endblock content %}