{% load staticfiles %}
{% load bootstrap4 %}
{% comment %} {% bootstrap_css %} {% endcomment %}
<link rel="stylesheet" href="{% static 'todo_app/bootstrap/css/bootstrap.min.css' %}"   crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'todo_app/bootstrap/css/my_create.css' %}"   crossorigin="anonymous">
<script src="{% static 'todo_app/bootstrap/js/bootstrap.min.js' %}"  crossorigin="anonymous"></script>
{% comment %} <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"  crossorigin="anonymous"></script> {% endcomment %}

{% comment %} {% bootstrap_javascript jquery='full' %} {% endcomment %}
{% bootstrap_messages %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Django Auth Tutorial{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <main >
      <div class="sidenav">
         <ul class="nav-tab">
        <a href="#" >درباره ما</a>
        <a href="{% url 'home'%}">وارد شدن</a>
        <a href="#">خروج</a>
        <ul>
      </div>
    {% comment %} {% bootstrap_button 'hossein' button_class='btn-warning' button_type='link' size='xs' %} {% endcomment %}
    {% comment %} <nav class="navbar-fixed-top ">
      <div class="container-fluid">
          <ul class="nav nav-tab"> 
           <a href="#">Sign Up</a>
            <a href="#">Sign In</a>
           <a href="#">About</a>  
           </ul>      
      </div>
    </nav> {% endcomment %}
    <div class="blockcontent">
    {% block content %}

    {% endblock %}
    </div>
  </main>
</body>
</html>